name: Build DataBrokerClient Python module

on:
  push:
  pull_request:

jobs:
  build-wheels:
    name: Build wheels on ${{ matrix.os }} for Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install maturin
        run: pip install maturin

      - name: Build wheels
        run: |
          maturin build --release --skip-auditwheel -m Cargo.toml
        # если у тебя pyproject.toml с настройками, maturin сам поймёт

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: DataBrokerClient-${{ matrix.os }}-py${{ matrix.python-version }}
          path: target/wheels/*.whl
